/*
*	##############################
*	custom-base.css
*	westenholz600.de
*	+++++
*	version: 1.0
*	+++++
*	##############################
*/

/*
*	=============================================
*	@IMPORT
*	=============================================
*/
@import "basic-layout.less";
@import "grid.less";
@import "navi-dropdown.less";
@import "slideshow.less";
@import "lightbox.less";

/*
*	=============================================
*	COLORS
*	=============================================
*/
@color-base: 		rgb(255,255,255);	// weiß
@color-0: 			rgb(000,000,000);	// schwarz
@color-c1: 			#706c67;					// dunkelgrau
@color-c2: 			#b8b0a7;					// mittelgrau
@color-c3: 			#dcd5c8;					// hellgrau
@color-c4: 			#e10029;					// hellrot
@color-c5: 			#6f0d00;					// dunkelrot
@color-c6: 			#3e0d00;					// braunrot
@color-c7: 			#524f4b;					// grauschwarz
/*
*	=============================================
*	FONTS
*	=============================================
*/

@font-face {
    font-family: 'callunaregular';
    src: url('../fonts/calluna-regular-webfont.eot');
    src: url('../fonts/calluna-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calluna-regular-webfont.woff2') format('woff2'),
         url('../fonts/calluna-regular-webfont.woff') format('woff'),
         url('../fonts/calluna-regular-webfont.ttf') format('truetype'),
         url('../fonts/calluna-regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.font-base () {
	font-family: 'callunaregular', sans-serif;
	font-weight: normal;
	font-style: normal;
	}
.font-sans () {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-style: normal;
	}
.font-FA () {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	}
@fs-base:			17px;
@fs-large:         	ceil((@fs-base * 1.25)); //
@fs-small:         	ceil((@fs-base * 0.85)); //
@fs-h1:            	floor((@fs-base * 2.6)); //
@fs-h2:            	floor((@fs-base * 1.45)); //
@fs-h3:            	ceil((@fs-base * 1.7)); //
@fs-h4:            	ceil((@fs-base * 1.25)); //
@fs-h5:            	@fs-base;
@fs-h6:            	ceil((@fs-base * 0.85)); //
@fs-button:			29px;
@fs-picnav-date:	43px;
@fs-picnav-day:	24px;
@fs-picnav-event:	23px;
@fs-picnav-link:	20px;
@fs-footer-h2:	26px;
@fs-footer-text:	16px;
@line-height-base:	ceil((@fs-base * 1.75));

/*
*	=============================================
*	ICONS
*	=============================================
*/
@icon-button:			"\f101";				// spitze Klammer rechts
@icon-list:				"\f0c8";				// Quadrat
@icon-search:			"\f002";				// Lupe
/*
*	=============================================
*	LAYOUT STYLES
*	=============================================
*/

// Grid components
@outer-container:	1920px;
@inner-container:	1200px;
@breakpoint-small:  768px;
@breakpoint-medium: 992px;
@breakpoint-large:  1200px;

@space-base: 		15px;
@space-large: 		ceil((@space-base * 2.0));
@subnav-height: 100px;
@em-base:			5em;
@medium-em:		ceil((@em-base * 2.0));
@large-em:			ceil((@em-base * 3.0));
@xlarge-em:		ceil((@em-base * 4.0));
@none-percent: 		0%;
@small-percent:		25%;
@onethird-percent: 33%;
@medium-percent:	50%;
@twothird-percent: 66%;
@large-percent:		75%;
@xlarge-percent:	100%;
@index-0:			0;
@index-1:			1000;
@index-2:			2000;
@index-3:			3000;
@index-4:			4000;
@index-5:			5000;
@index-6:			6000;
@index-7:			7000;
@index-8:			8000;
@index-9:			9000;
@index-10:			10000;
@opacity-strong:	0.25;
@opacity-medium:	0.5;
@opacity-light:		0.75;
@opacity-vlight:	0.9;
@opacity-none:		1;

/*
*	=============================================
*	MIXINS
*	=============================================
*/
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.hyphen () {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	}

/*
*	=============================================
*	SITE-SPECIFIC (auslagern)
*	=============================================
*/

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	body
*	%%%%%%%%%%%%%%%%%%%%
*/
*{box-sizing: border-box;}

html, body {height: 100%;}

body {
	.font-sans ();
	.hyphen();
	font-size: @fs-base;
	color: @color-c7;
	margin: 0;
	overflow-x: hidden;
	line-height: @line-height-base;
}

.wrapper {
	max-width:@outer-container;
	margin: 0 auto;
}

.content {
	max-width:@inner-container;
	margin:0 auto;
}

.header {
	padding: none;
	height: 1080px;
	&.index {
	background: url("../img/headergrafiken/header_end_2.jpg");
	}
	&.gewerbeschau {
	background: url("../img/headergrafiken/gewerbeschau_westenholz_600jahre.jpg");
	}
	&.festwochenende {
	background: url("../img/headergrafiken/festwochenende_westenholz.jpg");
	}
	&.sub {
		height: 400px;
		&.dorf {
			background: url("../img/headergrafiken/historie.jpg");
		}
		&.festjahr {
			background: url("../img/header.jpg");
		}
		&.kirchenjubilaeum {
			background: url("../img/headergrafiken/kirche.jpg");
		}
		&.projekte {
			background: url("../img/headergrafiken/projekte.jpg");
		}
		&.veranstaltungen {
			background: url("../img/headergrafiken/wandertag.jpg");
		}
		&.arbeitsgruppen {
			background: url("../img/headergrafiken/arbeitsgruppen.jpg");
		}
		&.buch {
			background: url("../img/headergrafiken/buch.jpg");
		}
		&.media {
			background: url("../img/headergrafiken/media.jpg");
		}
		&.kontakt {
			background: url("../img/headergrafiken/kontakt.jpg");
		}
	}
}

.logo {
	width: 520px;
	height: 280px;
	z-index: @index-10;
	position: fixed;
	top:125px;
}

.sublogo {
	width: 180px;
	height: 100px;
		background:  url("../img/w600_logo_klein.png") no-repeat;
		top: 5px;
		margin-left:30px;
		z-index: @index-10;
		position: fixed;
	}

.picnav {
	width:100%;
	min-width: @breakpoint-medium;
	text-align: center;
	margin-top:-260px;
	visibility: hidden;
}

.placer {
	height: 360px;
	width: 100%;
	margin-top: -60px;
}

.rinde {
	background: url(../img/wood.jpg);
	&.first {
		//padding:@subnav-height/2 0;
	}
}

.divider_1 {
	width: 100%;
	background: url(../img/divider_1.png);
	height:@space-large;
	margin-top: -@space-base;
}

.divider_2 {
	background: url(../img/divider_2.png);
	width: 100%;
	height:55px;
	margin-bottom: -@space-base;
	z-index: @index-3;
	position: relative;
}

.sponsoren {
	height: 120px;
	padding-top:@space-base;
	overflow-y: hidden;
}

.divider_footer {
	width: 100%;
	background: url(../img/divider_footer.png);
	height:35px;
	margin-bottom: -2px;
	margin-top:@space-large;
}

.footer_bg {
	background-color: @color-c6;
	width: 100%;
}

.footer {
	background-color: @color-c6;
	font-size: @fs-footer-text;
	color:@color-c4;
	padding: @space-base 0;
}

.clear {clear: both;}


/*
*	%%%%%%%%%%%%%%%%%%%%
* 	navigation
*	%%%%%%%%%%%%%%%%%%%%
*/

.navi {
	position: fixed;
	top:0;
	width: 100%;
	min-width: @breakpoint-medium;
	max-width:(@inner-container) - (@space-base*2);
	z-index: @index-9;
	.font-base ();
}

.navi_container {
	background-color: @color-base;
	//opacity: 0.8;
	width:100%;
	visibility: hidden;
	position: fixed;
	top:0;
	height: 65px;
	z-index: @index-5;
	margin-bottom:0;
	}

.subnav {
	position: relative;
	z-index: @index-3;
	width: 100%;
	min-width:@breakpoint-medium;
	height: @subnav-height;
	padding:  @subnav-height/3;
	margin-top: -(@subnav-height/3);
	margin-bottom: @space-large;
	.font-base ();
	text-align: center;
	font-size: @fs-large;
	&.dorf {
		background-color: @color-c5;
	}
	&.festjahr {
		background-color: @color-c5;
	}
	&.buch {
		background-color: @color-c5;
	}
	&.media {
		background-color: @color-c4;
	}
	&.kontakt {
		background-color: @color-c4;
	}
	&.divider {
		color: @color-0;
		padding: 0 ;
	}
	& a:link, & a:active, & a:visited {
		display: inline;
		position: relative;
		padding: 40px;
		color: @color-base;
		font-size: 22px;
		text-decoration: none;
		/* Making the color to change on hover with a transition */
		-webkit-transition: color .3s ease-in;
		-moz-transition: color .3s ease-in;
		-o-transition: color .3s ease-in;
		-ms-transition: color .3s ease-in;
		&:hover {
			color: @color-c4;
			text-decoration: none !important;
		}
	}
}

.anchor{
    position:relative;
    top:-180px;
    visibility: hidden;
    }

.top_btn {
	display:none;
	position:fixed;
	right:5px;
	bottom:5px;
	padding:@space-base;
	background: @color-c3;
	border-radius:2px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	color:#fff;
	z-index:50000;
	}

.top_btn:hover {
	background: rgba(0,0,0,0.5);
	text-decoration:none;
	color:#fff;
	}

.top_btn:before {
	.font-FA ();
	content: "\f062";
	}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	links
*	%%%%%%%%%%%%%%%%%%%%
*/
a {
	&:link, &:visited {
		color:@color-c4;
		text-decoration: none;
	}
	&:hover, &:active, &:focus {
		text-decoration: underline;
	}
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	text
*	%%%%%%%%%%%%%%%%%%%%
*/
h1, h2, h3, h4, h5, h6 {
	.font-base ();

}
h1 {
	font-size: @fs-h1;
	color:@color-c4;
	//margin-top:@space-large*2;
	}
h2 {
	font-size:@fs-h2;
	color:@color-c5;
	margin:0;
	}

.footer h2 {
	font-size: @fs-footer-h2;
}

p {
	padding: @space-base 0;
}
	/*
*	%%%%%%%%%%%%%%%%%%%%
* 	lists
*	%%%%%%%%%%%%%%%%%%%%
*/
ul {
	padding: @space-base 0;
	margin: 0;
	list-style-type: none;
	& li:before {
		.font-FA;
		content: @icon-list;
		padding-right: @space-large;
		color:@color-c5;
	}
	& ul {
		padding:0 @space-base;
		margin-left:-5px;
		& li:before {
			.font-FA;
			content:  @icon-list;
			padding-right: 5px;
		}
		& ul {
			margin-left:3px;
			& li:before {
			.font-FA;
			content:  @icon-list;
			padding-right: 5px;
			}
		}
	}
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	forms
*	%%%%%%%%%%%%%%%%%%%%
*/
input, textarea {
	display: block;
	width:100%;
	border:none;
	font-size: @fs-small;
	padding: 5px @space-base;
	margin:5px 0;
	background: @color-c5;
	color:@color-c4;
	&:hover, &:active, &:focus {
		box-shadow: 0px 0px 5px @color-c4;
		outline: none;
	}
	&:disabled {
		opacity:0.5;
	}
	// placeholder
	&::-webkit-input-placeholder { /* WebKit browsers */
    color:    @color-c4;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    @color-c4;
   opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    @color-c4;
   opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    @color-c4;
	}
	&[type=button] {
		&:hover {
			background: lighten(@color-c5,10%);
			box-shadow: none;
			cursor: pointer;
		}
	}
}
.btn {
	display: block;
	position: relative;
	margin-bottom:@space-base;
	width:270px;
	border:none;
	color: @color-base;
	.font-sans ();
	text-transform: uppercase;
	text-align:left;
	cursor:pointer;
	font-size: @fs-button;
	& a {
		text-decoration: none;
	}
	&.label {
		display: block;
		z-index: @index-2;
		width: 240px;
		padding:@space-base 5px;
		background-color: @color-c2;
		pointer-events: none;
	}
	&.bar {
		display: block;
		z-index: @index-1;
		width: 270px;
		margin-top:-60px;
		text-align: right;
		background-color: @color-c4;
		pointer-events: none;
		&:after {
			.font-FA ();
			font-size: @fs-large;
			content: @icon-button;
			padding-right:8px;
			vertical-align: top;
		}
	}
	&.active {
		display: block;
		z-index: @index-0;
		height: 60px;
		background: linear-gradient(to left, @color-c3 50%, @color-c4 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		transition: all 0.5s ease;
		margin-top:-60px;
		&:hover, &:active, &:focus {
			text-decoration:none;
			background-position:left bottom;
		}
	}
}

.form{
	width:100%;
	margin:0 auto;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	tables
*	%%%%%%%%%%%%%%%%%%%%
*/
.tbl {
	width: 100%;
	border-collapse: collapse;
	margin: @space-base 0;
	background: @color-c3;
	text-align: left;
	color:@color-0;
	& th, th:hover {
		background-color: @color-c2;
		padding: @space-large @space-base;
		color:@color-base;
		text-transform: uppercase;
		cursor: default;
		font-size: @fs-picnav-day;
		font-weight: normal;
	}
	& tr {
		cursor: pointer;
		transition:all 0.8s ease;
		background: linear-gradient(to left, @color-c3 50%, @color-c4 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:nth-child(2n+1) {
		//background-color: lighten(@color-c3,5%);
		background: linear-gradient(to left, lighten(@color-c3, 5%) 50%, @color-c4 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		}
		&:hover {
		//background-color:@color-c4;
		background-position:left bottom;
		color: @color-base;
		}
		& a {
		color:@color-0;
		display: block;
			&:before {
			display: inline-block;
			margin: 6px 15px 0 0;
			.font-FA ();
			content: @icon-button;
			color: @color-c4;
			}
			&:hover, &:active, &:focus {
				text-decoration: none;
			}
			&:hover:before {
				color:@color-base;
				-webkit-transform:translate(5px,0);
				-moz-transform:translate(5px,0);
				-ms-transform:translate(5px,0);
				-o-transform:translate(5px,0);
				transform:translate(5px,0);
			}
		}
	}

	& td {
		padding: 5px 50px;
		text-indent: -18px;
		/*
			&:before {
			.font-FA ();
			content: @icon-button;
			padding-right: @space-base;
			transition: all 0.2s ease;
			color: @color-c4;
		}
		&:hover:before {
			padding-left:5px;
			color:@color-base;
		}
		*/
	}
}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	hover effekt
*	%%%%%%%%%%%%%%%%%%%%
*/
.view {
    width:270px;
    height: 260px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view .mask, .view .content {
    width: 250px;
    height: 240px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative
}
.view h2 {
	.font-sans ();
	font-size: @fs-picnav-day;
    text-transform: uppercase;
    color: @color-c2;
    text-align: left;
    position: relative;
    padding: 15px;
    background: #fff;
    margin: 60px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: @color-c4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color:  fadeout(@color-c5, 15%);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
    transform: scale(1.5);
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

.picnav_img {
	float: left;
}

.picnav_bottom {
position: absolute;
margin-top:260px;
width: 270px;
height: 180px;
background-color: @color-c1;
text-align: left;
padding: @space-base;
text-transform: uppercase;
}

.picnav_date {
	font-size: @fs-picnav-date;
	color: @color-base;
	font-weight: 900;
}

.picnav_day {
	.font-base ();
	font-size: @fs-picnav-day;
	color: @color-c2;
	padding-bottom: 40px;

}

.picnav_event {
	font-size: @fs-picnav-event;
	color: @color-c3;
	font-weight: lighter;
	letter-spacing: 0.02em;
}

.picnav_link {
	font-size: @fs-picnav-link;
	text-transform: lowercase;
	& a {
		transition:all 1s ease;
		color: 	@color-c3;
		&:before {
			.font-FA ();
			transition:background 0.5s ease;
			content: @icon-button;
			background: linear-gradient(to left, @color-c4 50%, @color-c1 50%);
			background-size: 201% 100%;
			background-position:right bottom;
			padding: 0 5px;
		}
		&:hover {
			color:@color-c4;
			text-decoration: none;
			&:before {
				background-position:left bottom;
				color:@color-base;
			}
		}
	}
}

.navi_border {
	border-right: 1px solid @color-c5;
}

.footer_border {
	border-right: 1px solid @color-c4;
}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	hover effekt
*	%%%%%%%%%%%%%%%%%%%%
*/

.slideshow {
margin-top:5px;
}

.arbeitsgruppe a {
	color: @color-0;
	transition: all 0.2s ease;
	&:hover {
		color:@color-c4;
		}
	&:before {
		.font-FA ();
		content: @icon-button;
		color: @color-c4;
		padding-right: @space-base;
		text-decoration: none;
	}
}

.karte {
	margin:@subnav-height 15px 0 15px;
	height: @subnav-height*3;
}

.time {
	display: block;
	position: relative;
	margin-bottom:@space-base;
	width:270px;
	border:none;
	color: @color-base;
	.font-sans ();
	text-transform: uppercase;
	text-align:left;
	cursor:pointer;
	font-size: @fs-button;
	&.label {
		display: block;
		z-index: @index-2;
		width: 240px;
		padding:@space-base 5px;
		background-color: @color-c2;
		pointer-events: none;
	}
	&.active {
		display: block;
		z-index: @index-0;
		height: 60px;
		background: linear-gradient(to left, @color-c3 50%, @color-c4 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		transition: all 0.5s ease;
		margin-top:-75px;
	}
}