/*
*	##############################
*	custom-base.css
*	westenholz600.de
*	+++++
*	version: 1.0
*	+++++
*
*	##############################
*/

/*
*	=============================================
*	COLORS
*	=============================================
*/
@color-base: 		rgb(255,255,255);	// weiß
@color-0: 			rgb(000,000,000);	// schwarz
@color-c1: 			#706c67;					// dunkelgrau
@color-c2: 			#b8b0a7;					// mittelgrau
@color-c3: 			#dcd5c8;					// hellgrau
@color-c4: 			#e10029;					// hellrot
@color-c5: 			#6f0d00;					// dunkelrot
@color-c6: 			#3e0d00;					// braunrot
@color-c7: 			#33312e;					// grauschwarz

/*
*	=============================================
*	FONTS
*	=============================================
*/

@font-face {
    font-family: 'callunaregular';
    src: url('../fonts/calluna-regular-webfont.eot');
    src: url('../fonts/calluna-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calluna-regular-webfont.woff2') format('woff2'),
         url('../fonts/calluna-regular-webfont.woff') format('woff'),
         url('../fonts/calluna-regular-webfont.ttf') format('truetype'),
         url('../fonts/calluna-regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.font-base () {
	font-family: 'callunaregular', sans-serif;
	font-weight: normal;
	font-style: normal;
	}
.font-sans () {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-style: normal;
	}
.font-FA () {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	}
@fs-base:			17px;
@fs-large:         	ceil((@fs-base * 1.25)); //
@fs-small:         	ceil((@fs-base * 0.85)); //
@fs-h1:            	floor((@fs-base * 2.6)); //
@fs-h2:            	floor((@fs-base * 2.15)); //
@fs-h3:            	ceil((@fs-base * 1.7)); //
@fs-h4:            	ceil((@fs-base * 1.25)); //
@fs-h5:            	@fs-base;
@fs-h6:            	ceil((@fs-base * 0.85)); //
@fs-button:			29px;
@fs-picnav-date:	43px;
@fs-picnav-day:		24px;
@fs-picnav-event:	23px;
@fs-picnav-link:	20px;
@fs-footer-h2:		26px;
@fs-footer-text:	16px;
//@line-height-base:        1.42857143;
@line-height-base:	ceil((@fs-base * 1.75));

.hyphen () {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	}

/*
*	=============================================
*	ICONS
*	=============================================
*/
@icon-primary: 		"\f054";				// Haken
@icon-success: 		"\f00c";				//
@icon-info: 				"\f0eb";				//
@icon-warning:		"\f071";
@icon-danger:			"\f00d";
@icon-button:			"\f101";				// spitze Klammer rechts
@icon-list:				"\f0c8";				// Quadrat
@icon-search:			"\f002";				// Lupe
/*
*	=============================================
*	LAYOUT STYLES
*	=============================================
*/

@outer-container:	1920px;
@inner-container:	1170px;
@space-base: 		15px;
@space-large: 		ceil((@space-base * 2.0));
@em-base:			5em;
@medium-em:		ceil((@em-base * 2.0));
@large-em:			ceil((@em-base * 3.0));
@xlarge-em:		ceil((@em-base * 4.0));
@none-percent: 		0%;
@small-percent:		25%;
@onethird-percent: 33%;
@medium-percent:	50%;
@twothird-percent: 66%;
@large-percent:		75%;
@xlarge-percent:	100%;
@index-0:			0;
@index-1:			1000;
@index-2:			2000;
@index-3:			3000;
@index-4:			4000;
@index-5:			5000;
@index-10:			10000;
@opacity-strong:	0.25;
@opacity-medium:	0.5;
@opacity-light:		0.75;
@opacity-vlight:	0.9;
@opacity-none:		1;
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	padding
*	%%%%%%%%%%%%%%%%%%%%
*/
.padding-0 {padding:0;}
.padding-small {padding:@space-base;}
.padding-big {padding:@space-large;}
.padding-lr-0 {padding-left: 0;padding-right: 0;}
.padding-lr-small {padding-left: @space-base;padding-right: @space-base;}
.padding-lr-big {padding-left: @space-large;padding-right: @space-large;}
.padding-tb-0 {padding-top: 0;padding-bottom: 0;}
.padding-tb-small {padding-top: @space-base;padding-bottom: @space-base;}
.padding-tb-big {padding-top: @space-large;padding-bottom: @space-large;}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	margin
*	%%%%%%%%%%%%%%%%%%%%
*/
.margin-0 {margin: 0;}
.margin-small{margin: @space-base;}
.margin-big{margin: @space-large;}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	width
*	%%%%%%%%%%%%%%%%%%%%
*/
.w25{width:@small-percent;}
.w33{width:@onethird-percent;}
.w50{width:@medium-percent;}
.w66{width:@twothird-percent;}
.w75{width:@large-percent;}
.w100{width:@xlarge-percent;}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	min-width
*	%%%%%%%%%%%%%%%%%%%%
*/
.min-w25{min-width: @small-percent;}
.min-w50{min-width: @medium-percent;}
.min-w75{min-width: @large-percent;}
.min-w100{min-width: @xlarge-percent;}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	max-width
*	%%%%%%%%%%%%%%%%%%%%
*/
.max-w980 {max-width:980px;}
.max-w1170 {max-width:1170px;}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	height
*	%%%%%%%%%%%%%%%%%%%%
*/
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	position
*	%%%%%%%%%%%%%%%%%%%%
*/
.pos-left{float:left;}
.pos-center{margin:0 auto;}
.pos-right{float:right;}
.pos-absolute{position: absolute;}
.pos-relative{position: relative;}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	z-index
*	%%%%%%%%%%%%%%%%%%%%
*/
.z-0{z-index:@index-0;}
.z-1{z-index:@index-1;}
.z-2{z-index:@index-2;}
.z-3{z-index:@index-3;}
.z-4{z-index:@index-4;}
.z-5{z-index:@index-5;}
/*
*	=============================================
*	TEXT-STYLES
*	=============================================
*/
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	font-size
*	%%%%%%%%%%%%%%%%%%%%
*/
.fs-base{font-size: @fs-base;}
.fs-large{font-size: @fs-large;}
.fs-small{font-size: @fs-small;}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	line-height
*	%%%%%%%%%%%%%%%%%%%%
*/
.lh-100 {line-height: 1em;}
.lh-125 {line-height: 1.25em;}
.lh-150 {line-height: 1.5em;}
.lh-175 {line-height: 1.75em;}
.lh-200 {line-height: 2em;}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	letter-spacing
*	%%%%%%%%%%%%%%%%%%%%
*/
.ls-1{letter-spacing:0.1em;}
.ls-2{letter-spacing:0.2em;}
.ls-3{letter-spacing:0.3em;}
.ls-4{letter-spacing:0.4em;}
.ls-5{letter-spacing:0.5em;}
.ls-6{letter-spacing:0.5em;}
.ls-7{letter-spacing:0.7em;}
.ls-8{letter-spacing:0.8em;}
.ls-9{letter-spacing:0.9em;}
.ls-10{letter-spacing:1em;}
/*
*	=============================================
*	SITE-SPECIFIC (auslagern)
*	=============================================
*/
*{box-sizing: border-box;}

@import "grid.less";
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	body
*	%%%%%%%%%%%%%%%%%%%%
*/
body {
	.font-sans ();
	.hyphen;
	font-size: @fs-base;
	color: @color-c2;
	margin: 0;
	overflow-x: hidden;
	line-height: @line-height-base;
}

.wrapper {
	width:@outer-container;
	margin: 0 auto;
}

.content {
	width:@inner-container;
	margin:0 auto;
}

.header {
	padding: none;
	&.index {
	height: 1080px;
	background: url("../img/header.jpg");
	}
	&.sub {
		height: 400px;
		&.dorf {
			background: url("../img/historie.jpg");
		}
		&.festjahr {
			background: url("../img/header.jpg");
		}
		&.buch {
			background: url("../img/header.jpg");
		}
		&.media {
			background: url("../img/header.jpg");
		}
		&.kontakt {
			background: url("../img/header.jpg");
		}
	}
}

.logo {
	width: 595px;
	height: 305px;
	z-index: @index-10;
	position: fixed;
	top:125px;
}

.sublogo {
	width: 300px;
	height: 200px;
		background:  url("../img/w600_logo_klein.png") no-repeat;
		top: 15px;
		margin-left:15px;
		z-index: @index-10;
		position: fixed;
	}

.picnav {
	width:100%;
	text-align: center;
	margin-top:-275px;
	visibility: hidden;
}

.rinde {
	height: 360px;
	width: 100%;
	background: url(../img/wood_360.jpg);
	margin-top: -@space-base;
}

.divider_main {
	width: 100%;
	background: url(../img/divider_1.png);
	height:@space-large;
	margin-top: -@space-base;
}

.main {
	//height: 540px;
}

.rinde2 {
	background: url(../img/wood_420.jpg);
	width: 100%;
	height: 420px;
}

.divider_buch {
	background: url(../img/divider_2.png);
	width: 100%;
	height:55px;
	margin-bottom: -@space-base;
	z-index: @index-3;
	position: relative;
}

.buch {
	height: 420px;
}

.sponsoren {
	height: 140px;
}

.divider_footer {
	width: 100%;
	background: url(../img/divider_footer.png);
	height:35px;
	margin-bottom: -2px;
}

.footer_bg {
	background-color: @color-c6;
	width: 100%;
}

.footer {
	height:400px;
	background-color: @color-c6;
	font-size: @fs-footer-text;
	color:@color-c4;
	padding: @space-base 0;
}

.clear {clear: both;}


/*
*	%%%%%%%%%%%%%%%%%%%%
* 	navigation
*	%%%%%%%%%%%%%%%%%%%%
*/

// Standard
@import "navi-dropdown.less";
.navi {
	position: fixed;
	top:0;
	width:@inner-container;
	z-index: @index-10;
	.font-base ();
}

.navi_container {
	background-color: @color-base;
	//opacity: 0.8;
	width:100%;
	visibility: hidden;
	position: fixed;
	top:0;
	height: 65px;
	z-index: @index-5;
	}

.subnav {
	display: block;
	height: 100px;
	padding: @space-base;
	background: @color-c5;
	.font-base ();
	text-align: center;
	font-size: @fs-large;
	& a {
		color: @color-0;
		padding: @space-base;
		&:hover {
			color:@color-c4;
			text-decoration: none;
		}
	}
}

.anchor{
    position:relative;
    top:-110px;
    }

.top_btn {
	display:none;
	position:fixed;
	right:5px;
	bottom:5px;
	padding:1em;
	background: rgba(0,0,0,0.3);
	border-radius:2px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	color:#fff;
	z-index:50000;
	}

.top_btn:hover {
	background: rgba(0,0,0,0.5);
	text-decoration:none;
	color:#fff;
	}

.top_btn:before {
	content: "\f062";
    font-family: FontAwesome;
	}

// mobile
/*
	@import "navi-mobile.less";
label[for="nav-trigger"] {display:none;}
.mobile_nav{display: none;}
@media all and (max-width:650px){
.navi {display:none;}
.mobile_nav{display: block;}
.header {margin-top:60px;}

label[for="nav-trigger"] {
		display: block;
	}
}
*/

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	links
*	%%%%%%%%%%%%%%%%%%%%
*/
a {
	&:link, &:visited {
		//color:@color-c4;
		text-decoration: none;
	}
	&:hover, &:active, &:focus {
		//background-color: none;
		//text-decoration: underline;
	}
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	headlines
*	%%%%%%%%%%%%%%%%%%%%
*/
h1, h2, h3, h4, h5, h6 {
	.font-base ();
}
h1 {
	font-size: @fs-h1;
	color:@color-c4;
	}
h2 {
	font-size:@fs-h2;
	color:@color-c5;
	}

.footer h2 {
	font-size: @fs-footer-h2;
}
	/*
*	%%%%%%%%%%%%%%%%%%%%
* 	lists
*	%%%%%%%%%%%%%%%%%%%%
*/
ul {
	padding: @space-base 0;
	list-style-type: none;
	& li:before {
		.font-FA;
		content: @icon-list;
		padding-right: @space-large;
		color:@color-c5;
	}
	& ul {
		padding:0 @space-base;
		margin-left:-5px;
		& li:before {
			.font-FA;
			content:  @icon-list;
			padding-right: 5px;
		}
		& ul {
			margin-left:3px;
			& li:before {
			.font-FA;
			content:  @icon-list;
			padding-right: 5px;
			}
		}
	}
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	forms
*	%%%%%%%%%%%%%%%%%%%%
*/
input, textarea {
	display: block;
	width:100%;
	border:none;
	font-size: @fs-small;
	padding: 5px @space-base;
	margin:5px 0;
	background: @color-c5;
	color:@color-c4;
	&:hover, &:active, &:focus {
		box-shadow: 0px 0px 5px @color-c4;
		outline: none;
	}
	// placeholder
	&::-webkit-input-placeholder { /* WebKit browsers */
    color:    @color-c4;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    @color-c4;
   opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    @color-c4;
   opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    @color-c4;
	}
	&[type=button] {
		&:hover {
			background: lighten(@color-c5,10%);
			box-shadow: none;
			cursor: pointer;
		}

	}
}
.btn {
	display: inline-block;
	position: relative;
	width:270px;
	border:none;
	color: @color-base;
	.font-sans ();
	text-transform: uppercase;
	text-align:left;
	cursor:pointer;
	font-size: @fs-button;
	&.label {
		display: block;
		z-index: @index-2;
		width: 240px;
		padding:@space-base 5px;
		background-color: @color-c2;
		pointer-events: none;
	}
	&.bar {
		display: block;
		z-index: @index-1;
		width: 270px;
		margin-top:-45px;
		text-align: right;
		background-color: @color-c4;
		pointer-events: none;
		&:after {
			.font-FA ();
			font-size: @fs-large;
			content: @icon-button;
			color:#fff;
			padding-right:8px;
			vertical-align: top;
		}

	}
	&.active {
		display: block;
		z-index: @index-0;
		width: 270px;
		height: 60px;
		padding:@space-base 5px;
		text-align: right;
		background: linear-gradient(to left, @color-c3 50%, @color-c4 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		transition: all 0.5s ease;
		margin-top:-45px;
		&:hover, &:active, &:focus {
			text-decoration:none;
			background-position:left bottom;
		}
	}
}

.form{
	width:100%;
	margin:0 auto;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	tables
*	%%%%%%%%%%%%%%%%%%%%
*/
.tbl {
	width: 100%;
	border-collapse: collapse;
	margin: @space-base 0;
	background: @color-c3;
	text-align: left;
	color:@color-0;
	& th, th:hover {
		background-color: @color-c2;
		padding: @space-large @space-base;
		color:@color-base;
		text-transform: uppercase;
		cursor: default;
		font-size: @fs-picnav-day;
	}
	& tr {
		cursor: pointer;
		transition:all 0.8s ease;
		background: linear-gradient(to left, @color-c3 50%, @color-c4 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:nth-child(2n+1) {
		//background-color: lighten(@color-c3,5%);
		background: linear-gradient(to left, lighten(@color-c3, 5%) 50%, @color-c4 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		}
		&:hover {
		//background-color:@color-c4;
		background-position:left bottom;
		color: @color-base;
		}
		& a {
		color:@color-0;
		display: block;
		&:before {
		display: inline-block;
		margin: 6px 15px 0 0;
		.font-FA ();
		content: @icon-button;
		color: @color-c4;
		}
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
		&:hover:before {
			color:@color-base;
			-webkit-transform:translate(5px,0);
			-moz-transform:translate(5px,0);
			-ms-transform:translate(5px,0);
			-o-transform:translate(5px,0);
			transform:translate(5px,0);
		}
	}
	}

	& td {
		padding: 5px 50px;
		text-indent: -18px;
		/*
			&:before {
			.font-FA ();
			content: @icon-button;
			padding-right: @space-base;
			transition: all 0.2s ease;
			color: @color-c4;
		}
		&:hover:before {
			padding-left:5px;
			color:@color-base;
		}
		*/
	}
}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	hover effekt
*	%%%%%%%%%%%%%%%%%%%%
*/
.view {
    width:270px;
    height: 260px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view .mask, .view .content {
    width: 250px;
    height: 240px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative
}
.view h2 {
	.font-sans ();
	font-size: @fs-picnav-day;
    text-transform: uppercase;
    color: @color-c2;
    text-align: left;
    position: relative;
    padding: 15px;
    background: #fff;
    margin: 60px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: @color-c4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: @color-c3;
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
    transform: scale(1.1);
}
.view-first:hover .mask {
    opacity: 0.8;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

.picnav_img {
	float: left;
}

.picnav_bottom {
position: absolute;
margin-top:260px;
width: 270px;
height: 180px;
background-color: @color-c1;
text-align: left;
padding: @space-base;
text-transform: uppercase;
}

.picnav_date {
	font-size: @fs-picnav-date;
	color: @color-base;
}

.picnav_day {
	font-size: @fs-picnav-day;
	color: @color-c2;
	padding-bottom: 40px;

}

.picnav_event {
	font-size: @fs-picnav-event;
	color: @color-c3;
}

.picnav_link {
	font-size: @fs-picnav-link;
	text-transform: lowercase;
	& a {
		transition:all 1s ease;
		color: 	@color-c3;
		&:before {
			.font-FA ();
			transition:background 0.5s ease;
			content: @icon-button;
			background: linear-gradient(to left, @color-c4 50%, @color-c1 50%);
			background-size: 201% 100%;
			background-position:right bottom;
			padding: 0 5px;
		}
		&:hover {
			color:@color-c4;
			text-decoration: none;
			&:before {
				background-position:left bottom;
				color:@color-base;
			}
		}
	}
}

.navi_border {
	border-right: 1px solid @color-c5;
}

.footer_border {
	border-right: 1px solid @color-c4;
}

.slideshow {
	width:250px;
	height: 240px;
	background-color: green;
}
