/*
*	##############################
*	custom-base.css
*	-	provides basic styles
*	- useful for quick layouting / styling
*	+++++
*	version: 1.0
*	+++++
*
*	Reassign Variables
*	@alert-message-background: @brand-info;
*	.alert {
*		background-color: @alert-message-background;
*	}
*	##############################
*/
/*
*	=============================================
*	COLORS
*	=============================================
*/
/*
@primary-light:	lighten(@primary, 5%);
@success-light:	lighten(@success, 5%);
@info-light:			lighten(@info, 5%);
@warning-light:	lighten(@warning, 5%);
@danger-light:		lighten(@danger, 5%);
@primary-dark:	darken(@primary, 5%);
@success-dark:	darken(@success, 5%);
@info-dark:			darken(@info, 5%);
@warning-dark:	darken(@warning, 5%);
@danger-dark:		darken(@danger, 5%);
*/
/*
*	=============================================
*	FONTS
*	=============================================
*/
/*
*	=============================================
*	ICONS
*	=============================================
*/
/*
*	=============================================
*	LAYOUT STYLES
*	=============================================
*/
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	padding
*	%%%%%%%%%%%%%%%%%%%%
*/
.padding-0 {
  padding: 0;
}
.padding-small {
  padding: 15px;
}
.padding-big {
  padding: 30px;
}
.padding-lr-0 {
  padding-left: 0;
  padding-right: 0;
}
.padding-lr-small {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-lr-big {
  padding-left: 30px;
  padding-right: 30px;
}
.padding-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.padding-tb-small {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-tb-big {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	margin
*	%%%%%%%%%%%%%%%%%%%%
*/
.margin-0 {
  margin: 0;
}
.margin-small {
  margin: 15px;
}
.margin-big {
  margin: 30px;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	width
*	%%%%%%%%%%%%%%%%%%%%
*/
.w25 {
  width: 25%;
}
.w33 {
  width: 33%;
}
.w50 {
  width: 50%;
}
.w66 {
  width: 66%;
}
.w75 {
  width: 75%;
}
.w100 {
  width: 100%;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	min-width
*	%%%%%%%%%%%%%%%%%%%%
*/
.min-w25 {
  min-width: 25%;
}
.min-w50 {
  min-width: 50%;
}
.min-w75 {
  min-width: 75%;
}
.min-w100 {
  min-width: 100%;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	max-width
*	%%%%%%%%%%%%%%%%%%%%
*/
.max-w980 {
  max-width: 980px;
}
.max-w1170 {
  max-width: 1170px;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	height
*	%%%%%%%%%%%%%%%%%%%%
*/
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	position
*	%%%%%%%%%%%%%%%%%%%%
*/
.pos-left {
  float: left;
}
.pos-center {
  margin: 0 auto;
}
.pos-right {
  float: right;
}
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	z-index
*	%%%%%%%%%%%%%%%%%%%%
*/
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1000;
}
.z-2 {
  z-index: 2000;
}
.z-3 {
  z-index: 3000;
}
.z-4 {
  z-index: 4000;
}
.z-5 {
  z-index: 5000;
}
/*
*	=============================================
*	TEXT-STYLES
*	=============================================
*/
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	font-size
*	%%%%%%%%%%%%%%%%%%%%
*/
.fs-base {
  font-size: 16px;
}
.fs-large {
  font-size: 20px;
}
.fs-small {
  font-size: 14px;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	line-height
*	%%%%%%%%%%%%%%%%%%%%
*/
.lh-100 {
  line-height: 1em;
}
.lh-125 {
  line-height: 1.25em;
}
.lh-150 {
  line-height: 1.5em;
}
.lh-175 {
  line-height: 1.75em;
}
.lh-200 {
  line-height: 2em;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	letter-spacing
*	%%%%%%%%%%%%%%%%%%%%
*/
.ls-1 {
  letter-spacing: 0.1em;
}
.ls-2 {
  letter-spacing: 0.2em;
}
.ls-3 {
  letter-spacing: 0.3em;
}
.ls-4 {
  letter-spacing: 0.4em;
}
.ls-5 {
  letter-spacing: 0.5em;
}
.ls-6 {
  letter-spacing: 0.5em;
}
.ls-7 {
  letter-spacing: 0.7em;
}
.ls-8 {
  letter-spacing: 0.8em;
}
.ls-9 {
  letter-spacing: 0.9em;
}
.ls-10 {
  letter-spacing: 1em;
}
/*
*	=============================================
*	SITE-SPECIFIC (auslagern)
*	=============================================
*/
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
}
/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  display: table ;
  clear: both;
}
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- our gutter -- */
  padding: 15px;
  background-color: #f7ebca;
}
.col-1 {
  width: 16.66%;
}
.col-2 {
  width: 33.33%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.66%;
}
.col-5 {
  width: 83.33%;
}
.col-6 {
  width: 100%;
}
@media all and (max-width: 800px) {
  .col-1 {
    width: 33.33%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .row .col-2:last-of-type {
    width: 100%;
  }
  .row .col-5 ~ .col-1 {
    width: 100%;
  }
}
@media all and (max-width: 650px) {
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
}
.outline,
.outline * {
  outline: 1px solid #e30c36;
}
/*-- some extra column content styling --*/
[class*='col-'] > p {
  background-color: #e30c36;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	body
*	%%%%%%%%%%%%%%%%%%%%
*/
body {
  font-family: 'Times New Roman', sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-size: 16px;
  background: #f7ebca;
  margin: 0;
  overflow-x: hidden;
}
.header {
  min-height: 10em;
  background-color: #e30c36;
  padding: none;
}
.footer {
  min-height: 10em;
  background-color: #3d0d02;
  padding: none;
}
.main {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.42857143;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	navigation
*	%%%%%%%%%%%%%%%%%%%%
*/
nav {
  width: auto;
  border-bottom: 1px solid #f7ebca;
}
nav ul {
  padding: 0px;
  margin: 0px;
  background-color: #f7ebca;
}
nav ul:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
nav li {
  background-color: #f7ebca;
  list-style: none;
  float: left;
}
nav li:before {
  content: none !important;
}
nav li:hover ul {
  visibility: visible;
}
nav li a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 15px 30px;
}
nav li ul {
  display: inline;
  visibility: hidden;
  position: absolute;
  padding: 0px;
  margin-left: 0px;
  border-top: 1px solid #f7ebca;
}
nav li ul li {
  float: none;
}
nav li ul li a:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  content: "\f105";
  padding-right: 15px;
}
nav li ul li a:hover {
  color: #ffffff;
}
label[for="nav-trigger"] {
  display: none;
}
.mobile_nav {
  display: none;
}
@media all and (max-width: 650px) {
  .navi {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
  .header {
    margin-top: 60px;
  }
  label[for="nav-trigger"] {
    display: block;
  }
}
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* non-critical appearance styles */
  list-style: none;
  background: #f7ebca;
  padding: 0;
  padding-top: 45px;
}
/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 100%;
  border-bottom: 1px solid #f7ebca;
}
.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 15px;
  background: #f7ebca;
  text-decoration: none;
}
.nav-item a:hover {
  color: #ffffff;
  background: #e30c36;
}
.nav-item:before {
  content: '';
  padding: 0;
}
/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}
/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}
/* Make the Magic Happen */
.nav-trigger + label,
.site-wrap {
  transition: left 0.5s;
}
.nav-trigger:checked + label {
  left: 215px;
}
.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
.mobile_nav {
  width: 100%;
  height: 60px;
  background: #e8b732;
  position: fixed;
  z-index: 0;
  top: 0;
}
/*
.bgdanger {background-color:@danger};
.bgwarning {background-color:@warning};
.bginfo {background-color:@info};
.bgsuccess {background-color:@success};
.bgprimary {background-color:@primary};
*/
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	links
*	%%%%%%%%%%%%%%%%%%%%
*/
a:link,
a:visited {
  color: #e30c36;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  background-color: #e30c36;
  color: #ffffff;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	headlines
*	%%%%%%%%%%%%%%%%%%%%
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e30c36;
}
h1 {
  font-size: 41px;
}
h2 {
  font-size: 34px;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	lists
*	%%%%%%%%%%%%%%%%%%%%
*/
ul {
  padding: 15px;
  list-style-type: none;
}
ul li:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  content: "\f105";
  padding-right: 5px;
}
ul ul {
  padding: 0 15px;
  margin-left: -5px;
}
ul ul li:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  content: "\f105" "\f105";
  padding-right: 5px;
}
ul ul ul {
  margin-left: 3px;
}
ul ul ul li:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  content: "\f105" "\f105" "\f105";
  padding-right: 5px;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	forms
*	%%%%%%%%%%%%%%%%%%%%
*/
input {
  border: none;
  font-size: 16px;
  padding: 15px;
  background: #6e0e06;
  color: #e30c36;
}
input:hover,
input:active,
input:focus {
  box-shadow: 0px 0px 5px #e30c36;
  outline: none;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #e30c36;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e30c36;
  opacity: 1;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e30c36;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #e30c36;
}
input[type=button]:hover {
  background: #9e1409;
  box-shadow: none;
  cursor: pointer;
}
.btn {
  display: block;
  position: relative;
  height: 50px;
  margin-right: -5px;
  border: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
}
.btn.label {
  z-index: 2000;
  width: 175px;
  padding: 15px 5px;
  background-color: #bcb4ab;
  pointer-events: none;
}
.btn.bar {
  z-index: 1000;
  width: 200px;
  height: 20px;
  margin-top: -35px;
  text-align: right;
  background-color: #e30c36;
  pointer-events: none;
}
.btn.bar:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  content: "\f105" "\f105";
  color: #fff;
  padding-right: 6px;
  vertical-align: top;
}
.btn.active {
  z-index: 0;
  width: 200px;
  padding: 15px 5px;
  text-align: right;
  background-color: #e0d9cd;
  margin-top: -35px;
}
.btn.active:hover,
.btn.active:active,
.btn.active:focus {
  text-decoration: none;
  background-color: #e30c36;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	alert
*	%%%%%%%%%%%%%%%%%%%%
*/
.alert {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
}
.alert:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  padding-right: 15px;
}
.alert.primary {
  background-color: #e30c36;
}
.alert.primary:before {
  content: "\f054";
}
.alert.success {
  background-color: #70c89d;
}
.alert.success:before {
  content: "\f00c";
}
.alert.info {
  background-color: #f7ebca;
}
.alert.info:before {
  content: "\f0eb";
}
.alert.warning {
  background-color: #e8b732;
}
.alert.warning:before {
  content: "\f071";
}
.alert.danger {
  background-color: #da3644;
}
.alert.danger:before {
  content: "\f00d";
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	tables
*	%%%%%%%%%%%%%%%%%%%%
*/
.tbl {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  background: #f7ebca;
}
.tbl th,
.tbl th:hover {
  background-color: #e8b732;
  padding: 15px;
  color: #000000;
}
.tbl tr:nth-child(2n+1) {
  background-color: #f7ebca;
}
.tbl tr:hover {
  background-color: #da3644;
  color: #ffffff;
}
.tbl td {
  width: 33%;
  text-align: center;
  padding: 15px;
}
