.container {
    width: 100%;
    height: auto;
    max-width: @inner-container;
    margin: 0 auto;
    display: table;
	}
/*-- our cleafix hack -- */
.row:before,
.row:after {
    content:"";
    display: table-row ;
    clear:both;
	}
[class*='col-'] {
    //float: left;
    //min-height: 1px;
	display: table-cell;
    width: 12.50%;
    /*-- our gutter -- */
    padding: @space-base;
}
.col-1_8{ width: 12.50%; }
.col-1_4{ width: 25.00%; }
.col-2_4{ width: 50.00%; }
.col-3_4{ width: 75.00%; }
.col-4_4{ width: 100%;   }


/*
@media all and (max-width:800px){
    .col-1{ width: 33.33%;  }
    .col-2{ width: 50%;     }
    .col-3{ width: 100%;  }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }
    .row .col-2:last-of-type{
        width: 100%;
    }
    .row .col-5 ~ .col-1{
        width: 100%;
    }
}
@media all and (max-width:650px){
    .col-1{ width: 50%;     }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }
}
*/