nav {
	font-size: @fs-large;
    width: auto;
    & ul {
    padding: 0px;
    margin: 0px;
    background-color: @color-base;
    opacity: 0.8;
    	&:after {
	    	clear: both;
		    content: " ";
		    display: block;
		    font-size: 0;
		    height: 0;
		    visibility: hidden;
    	}
    }
    & li {
	    padding: @space-base 0;
	    background-color: @color-base;
	    list-style: none;
		float:right;
		border-bottom: 5px solid transparent;
    	&:before {
	    	content: none !important;
    	}
    	&:hover {
	    border-bottom: 5px solid @primary;
	    	& ul {
		    	visibility: visible;
	    	}
    	}
    	& ul {
	    	display: inline;
		    visibility: hidden;
		    position: absolute;
		    padding:0px;
		    margin-left:0px;
		    margin-top: 20px;
		    & li {
			    padding:0px;
			    float: none;
			    border: none;
			    &:hover {
				    border:none;
			    }

			    & a {
				    // Want some Icons in front of the <li>?
				    &:before {
					  //.font-FA ();
					  //content: @icon-list;
					  //padding-right: @space-base;
					}
					&:hover {
				    	color:@primary;
			    	}
		    	}
    		}
    	}
    }
	& a {
	    &:link, &:visited, &:focus {
	    	text-decoration: none;
		    display: block;
		    color: #000;
		    padding: @space-base @space-large;
		    }
		&:hover {
			 background-color: none;
		}
    	}
}
